* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

/* body {
  margin: 0;
  padding: 0;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
} */

body {
  margin: 0;
  padding: 0;
  background: url('../assets/img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  font-size: 14px;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  Add additional styling as needed
} */

.register {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.entry-image {
  box-shadow: 5px 5px 5px yellow;
  max-width: 200px;
}

.leaflet-container {
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}
